* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: rgb(8, 8, 8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.time {
  font-size: 6rem;
}

.focus,
.name {
  outline: none;
  border: 0;
  background: transparent;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
}

.focus {
  text-align: center;
  font-size: 1.25em;
}
.name {
  width: 6.6em;
  font-size: 1em;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

@media (min-width: 769px) {
  .time {
    font-size: 8rem;
  }
}
.temperature-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.temperature {
  cursor: pointer;
}

.weather {
  align-self: flex-end;
  margin-right: 1em;
  font-size: 0.75em;
}
